/* Customization */
/* ////////////////////////////////////////////////////// */

.collection-form {
  display: flex;
}

.collection-form .ant-btn {
  margin-left: 10px;
}

.ant-alert-close-icon:focus {
  outline: none !important;
}
