/* Customization AntD library */
/* ////////////////////////////////////////////////////// */

.ant-btn-link {
  display: inline;
  padding: 0;
  border: none;
  line-height: 21px;
}

.ant-btn.ant-btn-link {
  height: auto;
}

.collection-form {
  display: flex;
}

.collection-form .ant-btn {
  margin-left: 10px;
}

.ant-alert-close-icon:focus {
  outline: none !important;
}

.ant-spin {
  padding-top: 40px;
}

.ant-table-content {
  padding-bottom: 75px;
}

.ant-pagination.ant-table-pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fafafa;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eff2f5;
}

@media (max-width: 799px) {
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background: #fafafa;
  }
}

@media (min-width: 751px) {
  .table--desktop {
    display: block;
  }
  .table--mobile {
    display: none;
  }
}

@media (max-width: 750px) {
  .table--desktop {
    display: none;
  }
  .table--mobile {
    display: block;
  }
}

.ant-alert-message {
  margin-bottom: 0;
}

@media (max-width: 750px) {
  .ant-alert-with-description .ant-alert-close-icon {
    top: 6px;
    right: 9px;
  }
}
